<div class="about-wrapper">
  <h1 class="header">Сеть аптек «Искамед»</h1>
  <h2 class="header">О компании</h2>
  <div class="description">
    ООО «Искамед» Наша компания является одним из крупнейших частных предприятий
    на фармацевтическом рынке Республики Беларусь. Гарантией высокого сервиса
    является полный контроль над логистикой всего ассортимента предлагаемых
    лекарственных средств, изделий медицинского назначения и других товаров
    аптечного ассортимента. Наличие собственного, прекрасно оборудованного
    фармацевтического склада, собственного парка транспортных средств и высокая
    квалификация всего персонала является надежной основой для продолжения
    успешного развития предприятия.
  </div>
  <div class="image-wrapper">
    <img
      class="image"
      src="https://s.mediasole.ru/cache/content/data/images/1117/1117291/original.jpg"
    />
  </div>
  <div class="contacts-wrapper">
    <div class="info">
      <span>ООО «Искамед»</span><span>р/с № BY72AKBB30122001290616000000</span
      ><span>Минское областное управление № 500,</span>ОАО "АСБ Беларусбанк" БИК
      AKBBBY2Х<span>220116, г. Минск, пр. Дзержинского 69, корп.1</span>
    </div>
    <div class="contacts">
      <span>Контакты</span><span>ул. Карла Либкнехта, д. 70, пом. 6 </span
      ><span>220036, г. Минск, Беларусь </span> 7959 (А1, МТС, Life)<span></span
      ><span>УНП 100946637, ОКПО 37362382</span><span> info@iskamed.by</span>
    </div>
  </div>
</div>
