.about-wrapper {
  margin-top: 100px; //отступ сверху рамки 
  height: 140%;
  width: 50%;
  margin-left: 25%;
  background-color: white; // о компании 
  border-radius: 100px; // углы
}

.header {
  font-size: 30px;// размер компании
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 10px; 
}
.description {
  font-size: 16px;
  margin-top: 10px;
  padding: 0 50px 50px 50px;
  line-height: 2; //высота строки
}

.contacts-wrapper {
  display: flex; //текст под фото
  justify-content: space-around;
  flex-direction: row;
  margin-top: 20px;

  .info {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .contacts {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.image {
  height: 300px;
  width: 500px;
}

.image-wrapper {
  display: flex;
  justify-content: center;
}
